$mobile:480px;
$tablets:900px;

.mySwiper {
  height: 100vh;

  @media (max-width:$mobile) {
    height: 93vh;
    
  }

.Home-main {
    height: 100vh;
    width: 100%;
    background-image: url('../../images/home1-min.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
   
    z-index: 0;

    @media (max-width:$mobile) {
        background-image: url('../../images/home-1c-min.jpg');
        height: 93vh;

        &::before {
            position: absolute;
            content: "";
            height: 93vh;
            width: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.282);
           
    
        }
    }

    .Home-text {
     //background-color: black;
        width: 45%;
        height: 100%;
        position: absolute;
    
       
        right: 0;
        color: white;
        padding-right: 50px;
        @media (max-width:$mobile) {
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
            padding-right: 20px;
            z-index: 2;
         }

         @media (max-width:$tablets) {
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
       }

        .Home-text1 {
            font-family: 'School Teacher', sans-serif;
            font-weight: 400;
            font-size: 6rem;
           

            @media (max-width:$mobile) {
              margin-top: 40px;
               font-size: 3rem;
               width: 300px;
            }
            p:nth-child(1) {
                margin-top: 20px;

                @media (max-width:$mobile) {
                    margin-top: 20px;
                    margin-left: -90px!important;
                    font-weight: 600;
                 }

                 @media (max-width:$tablets) and (min-width:481px) {
                  margin-left: -190px!important;
               }
            }
            p:nth-child(2) {
                margin-left:130px;

                @media (max-width:$mobile) {
                  margin-top: 30px;
                  margin-left: -10px!important;
                  font-weight: 600;
               }

                @media (max-width:$tablets)and (min-width:481px) {
                  margin-left: -100px!important;
               }
            }

        }

        aside {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 30px;

            .Home-text2 {
                font-size: 7rem;
                font-family: 'Avocado Creamy', sans-serif;

                @media (max-width:$mobile) {
                    font-size: 3rem;
                    font-weight: 600;
                
                 }

                 
            }

           div {
            margin-top: 2rem;
            text-align: right;
            width: 335px;
           height: fit-content;
            line-height: 25px;

            @media (max-width:$mobile) {
                margin-top: 2em;
                width: 250px;
             }

             @media (max-width:$tablets)and (min-width:481px) {
              width: 350px;
           }


            h4 {
                font-size: 25px;
            }

            p {
                font-size: 20px;
                line-height: 30px;

                @media (max-width:$mobile) {
                  font-size: 15px;
               }

               @media (max-width:$tablets)and (min-width:481px) {
                font-size: 25px;
             }
            }

            button {
              margin-top: 20px;
                padding: 10px 20px 10px 20px;
                border: none;
                border-top: 5px solid gold;
                animation: wiggle 2s linear infinite;
                border-radius: 5px;
                transition: 0.7s;
                font-size: medium;
                font-weight: 600;
                &:hover{
                    cursor: pointer;
                    background-color: bisque;
                }

                a {
                  text-decoration: none;
                  color: black;
                }
            }
           

           }
        }
    }

    @keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }

      
   
}

}