footer {
    position: absolute;
    
  //display: flex;
  //justify-content: center;
  //align-items: center;
   height: fit-content;
   width: 100%;
  

    address {
        padding: 50px 0px 50px 0px;
        width: 100%;
       
        background-color: black;
        
        section { 
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .address {
                width: 200px;
                color: white;
                h1 {
                    margin-bottom: 30px;
                    font-size: 40px;
                    font-weight: 700;
                }
                p{
                    line-height: 25px;
                }
            } 

            .socials {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 200px;
                position: absolute;
                top: 30px;

                h1 {
                    margin-bottom: 30px;
                    font-size: 40px;
                    font-weight: 700;
                }

                .contacts {
                    display: inline-flex;
                    

                    a {
                        margin-right: 20px;

                        .whatsapp{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 50px;
                            width: 50px;
                            color: white;
                            background: rgb(13, 153, 107);
                            
                            border-radius: 50%;
                           transition: 0.5s;

                            &:hover {
                                background-color:rgb(10, 138, 96) ;
                                box-shadow: 0px 10px 19px rgb(8, 222, 104);
                            }
                        }
                        .insta{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 50px;
                            width: 50px;
                            color: white;
                            border-radius: 50%;
                            transition: 0.5s;
                            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                            

                            &:hover {
                                box-shadow: 0px 10px 19px rgb(251, 51, 33);
                            }
                            
                        }
                    }
                }

               
            }

            .logo-footer {

             img {
                height: 70px;
             }   
            }

            
        }
        .email {
            margin-top: 25px;
            display: block;
            text-align: center;
            letter-spacing: 1rem;
            font-size: 22px;
            font-weight: 600;
            
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}