
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rubik+Moonrocks&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p {
  margin: 0;
}

.swiper-pagination-bullet {
  height: 10px !important;
  width: 100px !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: antiquewhite !important;
}
