$Iphone:500px;

@font-face {
  font-family: 'Avocado Creamy';
  src: local('Avocado Creamy'), url(./fonts/avocado-creamy/AvocadoCreamy.ttf) format('truetype');
}
@font-face {
  font-family: 'School Teacher';
  src: local('School Teacher'), url(./fonts/school-teacher/SchoolTeacher-Regular.ttf) format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rubik+Moonrocks&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p {
  margin: 0;
}

.swiper-pagination-bullet {
  height: 10px !important;
  width: 32.95% !important;
  border-radius: 10px !important;
  margin: 0!important;
 background-color:white!important;
 opacity: 1!important;
 z-index: 10;
}

.swiper-pagination-bullet:nth-child(1){
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.swiper-pagination-bullet:nth-child(2){
  border-radius: 0 !important;
}
.swiper-pagination-bullet:nth-child(3){
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


.swiper-horizontal>.swiper-pagination-bullets,
 .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
   .swiper-pagination-fraction {
  bottom: 10px;
   left: 0; 
   width: 50%!important; 

   @media (max-width:$Iphone) {
    width: 70%!important; 
 }

}



.swiper-pagination {
  padding: 0px!important;
    background-color: transparent !important;
    margin: 0 auto!important;
    position: absolute !important;
    right: 0;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
  
}
